@(nodes: List[pl.com.britenet.models.Node])
@import play.api.libs.json.Json

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nodes tree</title>
    <style>
	html { margin:0; padding:0; font-size:62.5%; }
	body { max-width:800px; min-width:300px; margin:0 auto; padding:20px 10px; font-size:14px; font-size:1.4em; }
	h1 { font-size:1.8em; }
	.demo { overflow:auto; border:1px solid silver; min-height:100px; }
    </style>
    <link rel="stylesheet" href="/assets/stylesheets/theme/style.min.css"/>
</head>
<body>

<h1>Nodes</h1>
<div id="data" class="demo"></div>

<script src="/assets/javascripts/jquery-3.4.1.min.js"></script>
<script src="/assets/javascripts/jstree.min.js"></script>

<script type="text/javascript">
  var json = @Html(Json.stringify(Json.toJson(nodes)))
  $('#data').jstree({
    'core': {
        'data': json
    }
  })
</script>
</body>